# packaging
pip>=9

# Dashboard
dash # Viz -> Plotly comes shipped with dash
dash-bootstrap-components
dash-core-components
dash-extensions
dash-html-components 

#Viz
seaborn
matplotlib

#Caching
flask_caching 

# data science
numpy
pandas
math
sklearn


